.support {
  color: var(--color-white);
  text-align: center;
  margin-top: var(--spacing-large);
  font-size: var(--font-size-main);
}

.image {
  max-width: 400px;
  text-align: center;
  margin: auto;
}

.tag {
  border-bottom: 1px solid var(--color-white);
}